html {
	font-size: 16px;
}
body {
	margin: 0 1em;
	font-size: 1.4rem;
	font-family: "PT Serif";
}

code {
	font-family: 'Roboto Mono', 'Menlo', 'Ubuntu Mono', 'Courier New', 'Courier', fixed;
}

code {
	font-size: 0.85em;
	background: aliceblue;
	border: 1px solid gray;
	border-radius: 0.2em;
	padding: 0.1em;
}

pre {
	width: 100%;
	overflow: auto;
	border: 1px solid gray;
	padding: 0.1em;
	background: aliceblue;
}

pre code {
	border-radius: none;
	border: none;
	background: inherit;
}

blockquote {
	margin: 0.5em 0;
	border-left: 0.75em solid lightsteelblue;
	color: darkslategray;
	padding-left: 0.5em;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	body {
		margin: 0 2em;
	}
}

@media only screen and (min-width: 769px) {
	body {
		width: 30em;
		margin: 0 auto;
	}
}

article {
	text-align: justify;
}

article ul,
article ol {
	margin-top: 0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	/*max-width: 40%;*/
}

nav li:first-child{
	float: left;
}

nav li:last-child{
	float: right;
}


footer {
	font-family: 'PT Serif', serif;
	clear: both;
	text-align: center;
	font-size: 1rem;
	padding-top: 1em;
	padding-bottom: 0.5em;
	color: gray;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
}


article h1 {
	text-align: left;
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 0;
	font-size: 3rem;
	text-align: left;
}

article h2 {
	text-align: left;
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
article h3 {
	text-align: left;
	font-size: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
article h4 {
	text-align: left;
	font-size: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
article h5 {
	text-align: left;
	font-size: 1.4em;
	margin-top: 0.5em;
	margin-bottom: 0;
}
article h6 {
	text-align: left;
	font-size: 1.2em;
	margin-top: 0.5em;
	margin-bottom: 0;
	/*font-style: italic;*/
}

article p {
	margin: 0.5rem 0 1rem 0;
}

img {
    width: 100%;
}

/* 480, 768, all */

body {
	color: #2B3A42;
	font-family: "PT Sans";
}

header > h1 {
	display: inline-block;
	font-family: "PT Sans", sans-serif;
	font-weight: 900;
	font-size: 3em;
}

header > h2 {
	font-family: "PT Sans";
	font-size: 3em;
	display: inline-block;
	font-weight: 300;
	color: #FF530D;
}

header {
	/*text-align: center;*/
}
header > h1,
header > h2 {
	margin-bottom: 0;
	margin-top: .5em;
}

article > h1 {
	font-family: "Roboto Slab";
	font-weight: 300;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 100;
}

article h5,
article h6 {
	/*font-weight: 700;*/
	/*color: #3F5765*/
}
/* 2B3A42 / 3F5765 / BDD4DE / EFEFEF / FF530D  */
/*
black: 2e3436;
red: a40000;
orange: f57900;
blue: 204a87 / 3465a4;
green: 73d216;
*/
